{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <h1>Liste des catégories</h1>
    <a class="btn btn-success mb-2" href="{{path('category_new')}}">Ajouter une catégorie</a>

    <ul class="list-group">
        {% for category in categories %}
        
            <li class="list-group-item">
                <a href="{{path('category_show', {id: category.id})}}">
                    {{category.name}}
                </a>
            </li>

        {% else %}
            <li>Pas encore de catégorie!</li>
        {% endfor %}
    </ul>
{% endblock %}
