{% extends "base.html.twig" %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1> {{category.name}} </h1>
    <div>
        <a href="{{path('category_edit', {id: category.id})}}">
            Modifier la catégorie
        </a>
        <form action="">
            <button>Supprimer</button>
        </form>
    </div>

{% endblock %}