{% extends "base.html.twig" %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1>
		{{category.name}}
	</h1>
	<div class="d-flex gap-2">
		<a class="btn btn-dark" href="{{path('category_edit', {id: category.id})}}">
			Modifier la catégorie
		</a>
		<form action="{{path('category_delete')}}" 
                method="post" 
                onsubmit="return confirm('Supprimer??')"
            >
            <input type="hidden" name="id" value="{{category.id}}"> 
			<button class="btn btn-danger">Supprimer</button>
		</form>
	</div>

{% endblock %}
