{% extends 'base.html.twig' %}

{% block title %} Liste tâches {% endblock %}

{% block body %}
    <h1>Toutes les tâches</h1>

    {{form(form)}}
    
    {% for task in tasks %}
        <div>
            <h2> {{task.title}} </h2>
            <p>Fait: {{task.isDone ? 'Oui': 'Non'}} </p>
            <p>Créé le {{task.createdAt | date('d/m/Y H:i:s')}} </p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
