{% extends 'base.html.twig' %}

{% block title %} Liste tâches {% endblock %}

{% block body %}
    <h1>Toutes les tâches</h1>

    {{form(form)}}
    
    {% for task in tasks %}
        <div>
            <h2> {{task.title}} </h2>
            <form action="" >
                <label for="">
                    Fait
                    <input type="checkbox" name="isDone" onchange="submit()">
                </label>
            </form>
            <small>Créé le {{task.createdAt | date('d/m/Y H:i:s')}} </small>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
